body{
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  background-color: #000;
  overflow: hidden;
}

.bGroundContainer{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  perspective: 500px;
}
.bgCont1{
  width:calc(100%/3);
  height:100vh;
  float: left;
  opacity:0;
  transform: rotateY(-90deg);
  transition: 3s ease-in-out;

}
.bgCont2{
  width:calc(100%/3);
  height:100vh;
  float: left;
  opacity:0;
  transform: rotateX(90deg);
  transition: 3s ease-in-out;

}
.bgCont3{
  width:calc(100%/3);
  height:100vh;
  float: left;
  opacity:0;
  transform: rotateY(90deg);
  transition: 3s ease-in-out;

}
.spinCont{
  transform:  rotateX(0deg);
  opacity:1;
  transition: 3s ease-in-out;
}
.rotateRightCont{
  transform:  rotateY(0deg);
  transform-origin: right;
  opacity:1;
  transition: 3s ease-in-out;
}
.rotateLeftCont{
  transform: rotateY(0deg);
  transform-origin: left;

  opacity:1;
  transition: 3s ease-in-out;
}
.bg1 {
  background: url("../images/space.jpg");
  background-position: 0px 0px;
  background-size: 300% auto;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  width:100%;
  height:100vh;
}
.bg2 {
  --postion2: calc(100vw/3*-1) ;
  background: url("../images/space.jpg");
  background-position: var(--postion2) 0px;
  background-size: 300% auto;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;

  /* left:calc(100%/3); */
  width:100%;
  height:100vh;
}
.bg3 {
  --postion3: calc(100vw/3*-2) ;

  background: url("../images/space.jpg");
  background-position: var(--postion3) 0px;
  background-size: 300% auto;
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  /* left:calc(100%/3*2); */
  width:100%;
  height:100vh;
}
